.sidenav {
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 30vw;
  right: -30vw;
  top: 0px;
  background: rgb(39, 39, 39);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.4s ease-in-out;
}

.sidenav.open {
  right: 0vw;
}

.exit-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 40px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.exit-btn-x {
  width: 25px;
  height: 3px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.exit-btn-x::before,
.exit-btn-x::after {
  content: '';
  position: absolute;
  width: 45px;
  height: 5px;
  background: grey;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.exit-btn-x::before {
  transform: translateY(-7px);
  transform: rotate(45deg);
}
.exit-btn-x:after {
  transform: translateY(7px);
  transform: rotate(-45deg);
}

.exit-btn:hover .exit-btn-x::before {
  background: white;
  width: 55px;
  transform: translateY(-7px);
  transform: rotate(45deg);
}

.exit-btn:hover .exit-btn-x::after {
  background: white;

  width: 55px;
  transform: translateY(7px);
  transform: rotate(-45deg);
}

.sidenav-menu {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 1000px) {
  .sidenav {
    width: 40vw;
    right: -40vw;
  }
}
@media (max-width: 720px) {
  .sidenav {
    width: 50vw;
    right: -50vw;
  }
}
@media (max-width: 500px) {
  .sidenav {
    width: 60vw;
    right: -60vw;
  }
}
@media (max-width: 400px) {
  .sidenav {
    width: 80vw;
    right: -80vw;
  }
}
