.landing {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url('../../../images/landing-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  --primary-text-color: white;
  --secondary-text-color: grey;
}

.landing-mask-loading {
  animation: 1s ease-in-out 0s 1 Background1;
}

.landing-mask {
  z-index: -1;
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, rgb(39, 39, 39) 0%, rgba(77, 77, 77, 0.5) 100%);
}

.title-section {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
  margin-left: 5vw;

  animation: 1s ease-in-out 0.5s 1 LandingScreen both;
}

.title-section h1 {
  margin: 0;
  color: white;
  margin-bottom: 20px;
  font-size: 4rem;
}

.title-section h1::after {
  content: '';
  display: block;
  position: relative;
  bottom: -10px;
  height: 5px;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;

  animation: 1s ease-in-out 2s 1 Separator both;
}

.subtitle h2 {
  color: white;
  font-size: 1.5rem;
  position: relative;
  bottom: 20px;
  width: 50%;
}
.subtitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: 1s ease-in-out 2s 1 Icons both;
}

.icons-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;

  transition: 0.2s all ease-in-out;
}

.subtitle .description {
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.call-to-action {
  min-width: 300px;

  min-height: 75px;
  background-color: transparent;
  border: white solid 2px;
  color: white;
  font-size: x-large;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  animation: 0.5s ease-in-out 3s 1 CallToAction both;
}

.call-to-action:hover {
  background-color: #05968a;
}
a {
  text-decoration: none;
}

.arrow {
  width: 25px;
  height: 3px;
  background-color: var(--primary-text-color);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.2s ease-in-out;
}

.arrow::before,
.arrow::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 3px;
  background: var(--primary-text-color);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.2s ease-in-out;
}

.arrow {
  transform: rotate(90deg);
}

.arrow::before {
  transform: rotate(135deg) translate(3px, -3px);
}
.arrow::after {
  transform: rotate(-135deg) translate(3px, 3px);
}

.call-to-action:hover .arrow {
  background-color: var(--primary-text-color);
  animation: 0.7s ease-in-out 0s infinite ArrowBounce both;
}

@keyframes Background1 {
  0% {
    background: rgb(39, 39, 39);
  }

  100% {
    background: rgba(39, 39, 39, 0);
  }
}

@keyframes LandingScreen {
  0% {
    transform: translateX(-25%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes Separator {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
@keyframes Icons {
  0% {
    transform: translateX(-25%);

    width: 80%;
    opacity: 0;
  }

  100% {
    transform: translateX(0);

    width: 100%;
    opacity: 1;
  }
}

@keyframes ArrowBounce {
  0% {
    transform: rotate(90deg) translateX(0px);
  }

  50% {
    transform: rotate(90deg) translateX(10px);
  }

  100% {
    transform: rotate(90deg) translateX(0px);
  }
}

@keyframes CallToAction {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 800px) {
  .landing {
    background: url('../../../images/landing-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: repeat;
  }
}

@media (max-width: 1250px) {
  .subtitle h2 {
    font-size: 1rem;
  }
}
@media (max-width: 965px) {
  .title-section h1 {
    font-size: 3rem;
  }
  .subtitle h2 {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .subtitle {
    flex-direction: column;
  }
  .subtitle > h2 {
    margin-bottom: 0px;
    font-size: 22px;
    width: 100%;
    text-align: center;
  }
  .icons-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 450px) {
  .subtitle > h2 {
    margin-bottom: 0px;
    font-size: 15px;
    width: 100%;
    text-align: center;
  }
  .icons-row {
    position: relative;
    bottom: 10px;
    left: 5px;
  }
}
