.landing {
  position: relative;
  z-index: -2;
  height: 100vh;
  width: 100%;

  background: url('../../../images/landing-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-mask-loading {
  animation: 2s ease-in-out 0s 1 Background1;
}

.landing-mask {
  z-index: -1;
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, rgb(39, 39, 39) 0%, rgba(77, 77, 77, 0.5) 100%);
}

.title-section {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
  margin-left: 5vw;

  animation: 1s ease-in-out 1s 1 LandingScreen both;
}

.title-section h1 {
  margin: 0;
  color: white;
  margin-bottom: 20px;
  font-size: 4rem;
}

.title-section h1::after {
  content: '';
  display: block;
  position: relative;
  bottom: -10px;
  height: 5px;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;

  animation: 1s ease-in-out 2s 1 Separator both;
}

.subtitle h4 {
  color: white;
  font-size: 1.5rem;
  white-space: nowrap;
}

.subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: 1s ease-in-out 2s 1 Icons both;
}

.subtitle .description {
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.subtitle .icon-wrapper {
  border: white solid 2px;
  border-radius: 100px;
  height: 10px;
  width: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

@keyframes Background1 {
  0% {
    background: rgb(39, 39, 39);
  }

  100% {
    background: rgba(39, 39, 39, 0);
  }
}

@keyframes LandingScreen {
  0% {
    transform: translateX(-25%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes Separator {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
@keyframes Icons {
  0% {
    transform: translateX(-25%);

    width: 80%;
    opacity: 0;
  }

  100% {
    transform: translateX(0);

    width: 100%;
    opacity: 1;
  }
}
