.skills-section {
  color: white;
  border-top: white solid 2px;
  padding: 40px;
  background-color: rgb(39, 39, 39);
}

.skills-section .skills-header {
  box-sizing: border-box;
}

.skills {
  margin-left: 7vw;
  margin-right: 7vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills > div {
  margin-right: 10px;
}

.about {
  max-width: 800px;
  margin-bottom: 50px;
}
.about > p {
  line-height: 25px;
}

@media (max-width: 700px) {
  .skills-section {
    padding: 20px;
  }
  .skills {
    margin-left: 0vw;
    margin-right: 0vw;
  }
}

/* @media (max-height: 1000px) {
  .skills-section {
    height: 50vh;
  }
}
@media (max-height: 925px) {
  .skills-section {
    height: 60vh;
  }
}
@media (max-height: 800px) {
  .skills-section {
    height: 70vh;
  }
}
@media (max-height: 550px) {
  .skills-section {
    height: 100vh;
  }
} */
