.works-section {
  height: 100vh;
  /* border: white solid 2px; */
  color: white;
}

.works-header {
  padding-left: 20px;
  padding-top: 20px;
}

.works {
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
