.works-section {
  /* border: white solid 2px; */
  color: white;
  padding-left: 10vw;
  padding-right: 10vw;
  border-top: white solid 2px;
  background: rgb(126, 56, 56);
}

.works-header {
  margin-left: 12vw;
  padding-top: 10px;
}

.works-header > h2 {
  margin-left: 0px;
}

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 1400px) {
  .works-section {
    color: white;
    padding-left: 1vw;
    padding-right: 1vw;
    border-top: white solid 2px;
  }

  .works-header {
    margin-left: 10vw;
    padding-top: 10px;
  }
}

@media (max-width: 1250px) {
  .works-section {
    color: white;
    padding-left: 1vw;
    padding-right: 1vw;

    border-top: white solid 2px;
  }
  .works-header {
    text-align: left;
    margin-left: 10px;
  }

  .works-header > h2 {
    padding-left: 0px;
  }
}
