html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 18px;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
}

footer {
  height: 15vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > span {
  color: white;
}
footer > span > span {
  color: #05968a;
}

@media (max-width: 400px) {
  footer {
    font-size: 15px;
  }
}
