.project-container {
  border: white solid 2px;
  width: 100%;
  max-width: 1000px;
  height: 400px;
  margin-bottom: 70px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;

  box-shadow: 0px 8px 36px #222;
}

.project-mockup {
  border: white solid 2px;
  width: 50%;
}

.project-desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 30px;
}

.project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.project-details p {
  word-break: keep-all;
  white-space: normal;
  margin-top: 0px;
}

.project-title {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.project-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.project-buttons > a {
  width: 40%;
  height: 40px;
  border: rgb(143, 143, 143) 2px solid;
  background: transparent;
  color: white;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;

  transition: all 0.2s ease-in;
}

.project-buttons > a:hover {
  background-color: #05968a;

  border: white 2px solid;
  box-shadow: -4px 3px 2px 1px rgba(240, 240, 240, 0.65);
}

.project-mockup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-tech {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  margin-bottom: 10px;
}

.project-mockup > video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (max-width: 900px) {
  .project-container {
    border: white solid 2px;
    width: 100%;
    max-width: 1000px;
    height: 300px;
    margin-bottom: 70px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;

    box-shadow: 0px 8px 36px #222;
  }

  .project-details p {
    font-size: 14px;
  }

  .project-details h2 {
    font-size: 20px;
  }
  .project-desc {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 650px) {
  .project-container {
    min-height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;

    align-items: center;
    justify-content: flex-end;
    flex-direction: column-reverse;
  }
  .project-mockup {
    width: 100%;
  }
  .project-details {
    width: 80%;
    height: 50%;
    padding-top: -50px;
  }

  .project-details p {
    font-size: 15px;
  }

  .project-details h2 {
    font-size: 20px;
  }
}

@media (max-width: 530px) {
  .project-container {
    min-height: 700px;
  }

  .project-mockup {
    width: 100%;
  }

  .project-details {
    width: 80%;
    height: 50%;
    padding-top: -50px;
  }

  .project-tech {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (max-width: 400px) {
  .project-container {
    min-height: 600px;
    margin-left: 5px;
    margin-right: 10px;
  }

  .project-details {
    width: 80%;
    height: 50%;
    padding-top: -50px;
  }
}
