.skills-icon {
  border: rgb(143, 143, 143) 2px solid;
  border-radius: 5px;
  width: 200px;
  margin-left: 10px;
  margin-top: 10px;
  min-height: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: rgba(184, 184, 184, 0.294); */

  transition: all 0.2s ease-in-out;
}
.skills-icon:hover {
  background-color: #05968a;

  /* background-color: black; */
  border: white 2px solid;
  box-shadow: -4px 3px 2px 1px rgba(240, 240, 240, 0.65);
}

@media (max-width: 575px) {
  .skills-icon {
    width: 150px;
  }
  .skills-icon > span {
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  .skills-icon {
    display: flex;
    flex-direction: column-reverse;
  }
  .skills-icon > span {
    margin-top: 5px;
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  .skills-icon {
    width: 125px;
    display: flex;
    flex-direction: column-reverse;
  }
  .skills-icon > span {
    margin-top: 5px;
    font-size: 12px;
  }
}
@media (max-width: 375px) {
  .skills-icon {
    width: 90px;
    display: flex;
    flex-direction: column-reverse;
  }
  .skills-icon > span {
    margin-top: 5px;
    font-size: 12px;
  }
}
